[Desktop Entry]
Encoding=UTF-8
Name=RWTaler
Comment=RWTaler P2P Cryptocurrency
Exec=rwtaler-qt %u
Terminal=false
Type=Application
Icon=rwtaler128
MimeType=x-scheme-handler/rwtaler;
Categories=Office;Finance;
Name[en_AU]=RWTaler
